@use './sass/base/' as *;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: $font-family-base;
  background-color: #f6f5f6;
}

.main {
  padding-block: 7.5rem;
  width: min(90%, 1200px);
  margin: 0 auto;
}

.testimonial__container {
  display: grid;
  gap: map-get($map: $spacings, $key: 400);
  list-style-type: none;
}

.testimonial__item {
  padding: map-get($spacings, 400);
  border-radius: map-get($spacings, 100);
  @include testimonial-box-shadow;
}

.testimonial__item--purple {
  background-color: $clr-purple-500;

  .user__name {
    @include text-preset-2;
    color: $clr-white;
  }

  .user__status {
    @include text-preset-4;
    color: $clr-purple-50;
  }

  .comment__hightlight {
    @include text-preset-1;
    color: $clr-white;
  }

  .comment__detail {
    @include text-preset-3;
    color: $clr-purple-50;
  }
}

.testimonial__item--grey {
  background-color: $clr-grey-500;

  .user__name {
    @include text-preset-2;
    color: $clr-white;
  }

  .user__status {
    @include text-preset-4;
    color: $clr-grey-200;
  }

  .comment__hightlight {
    @include text-preset-1;
    color: $clr-white;
  }

  .comment__detail {
    @include text-preset-3;
    color: $clr-purple-50;
  }
}

.testimonial__item--white {
  background-color: $clr-white;

  .user__name {
    @include text-preset-2;
    color: $clr-grey-500;
  }

  .user__status {
    @include text-preset-4;
    color: $clr-grey-400;
  }

  .comment__hightlight {
    @include text-preset-1;
    color: $clr-grey-500;
  }

  .comment__detail {
    @include text-preset-3;
    color: $clr-grey-400;
  }
}

.testimonial__item--black {
  background-color: $clr-dark-blue;

  .user__name {
    @include text-preset-2;
    color: $clr-white;
  }

  .user__status {
    @include text-preset-4;
    color: $clr-white;
  }

  .comment__hightlight {
    @include text-preset-1;
    color: $clr-grey-200;
  }

  .comment__detail {
    @include text-preset-3;
    color: $clr-grey-100;
  }
}

.user {
  display: flex;
  gap: map-get($spacings, 200);
  align-items: center;

  .user__avatar {
    max-width: 2rem;
    img {
      border-radius: 50%;
      width: 100%;
      height: auto;
      object-fit: cover;
    }
  }
}

.comment__hightlight,
.comment__detail {
  margin-block-start: map-get($spacings, 200);
}

@media (min-width: 768px) {
  .testimonial__container {
    grid-template-areas:
      'daniel daniel'
      'jonathan jeanette'
      'pattrick pattrick'
      'kira kira';
    .testimonial__item--purple {
      grid-area: daniel;
    }
    .testimonial__item--grey {
      grid-area: jonathan;
    }
    .testimonial__item--black {
      grid-area: pattrick;
    }
    .testimonial__item--white {
      grid-area: jeanette;
    }
    .testimonial__item--white-last {
      grid-area: kira;
    }
  }
}

@media (min-width: 1024px) {
  .testimonial__container {
    grid-template-columns: repeat(4, 1fr);
    grid-template-areas:
      'daniel daniel jonathan kira'
      'jeanette pattrick pattrick kira';
    .testimonial__item--purple {
      grid-area: daniel;

      background-image: url(images/bg-pattern-quotation.svg);
      background-repeat: no-repeat;
      background-position: right
        map-get($map: $spacings, $key: 500) top 0;
    }
    .testimonial__item--grey {
      grid-area: jonathan;
    }
    .testimonial__item--black {
      grid-area: pattrick;
    }
    .testimonial__item--white {
      grid-area: jeanette;
    }
    .testimonial__item--white-last {
      grid-area: kira;
    }
  }
}
