* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Barlow, sans-serif;
  background-color: #f6f5f6;
}

.main {
  padding-block: 7.5rem;
  width: min(90%, 1200px);
  margin: 0 auto;
}

.testimonial__container {
  display: grid;
  gap: 2rem;
  list-style-type: none;
}

.testimonial__item {
  padding: 2rem;
  border-radius: 0.5rem;
  box-shadow: 40px 60px 50px -47px rgba(72, 85, 106, 0.24);
}

.testimonial__item--purple {
  background-color: #733fc8;
}
.testimonial__item--purple .user__name {
  font-size: 0.8125rem;
  line-height: 1.1;
  letter-spacing: 0px;
  color: #ffffff;
}
.testimonial__item--purple .user__status {
  font-size: 0.6875rem;
  line-height: 1.1;
  letter-spacing: 0px;
  color: #ede4ff;
}
.testimonial__item--purple .comment__hightlight {
  font-size: 1.25rem;
  line-height: 1.2;
  letter-spacing: 0px;
  font-weight: 500;
  color: #ffffff;
}
.testimonial__item--purple .comment__detail {
  font-size: 0.8125rem;
  line-height: 1.4;
  letter-spacing: 0px;
  color: #ede4ff;
}

.testimonial__item--grey {
  background-color: #48556a;
}
.testimonial__item--grey .user__name {
  font-size: 0.8125rem;
  line-height: 1.1;
  letter-spacing: 0px;
  color: #ffffff;
}
.testimonial__item--grey .user__status {
  font-size: 0.6875rem;
  line-height: 1.1;
  letter-spacing: 0px;
  color: #cfcfcf;
}
.testimonial__item--grey .comment__hightlight {
  font-size: 1.25rem;
  line-height: 1.2;
  letter-spacing: 0px;
  font-weight: 500;
  color: #ffffff;
}
.testimonial__item--grey .comment__detail {
  font-size: 0.8125rem;
  line-height: 1.4;
  letter-spacing: 0px;
  color: #ede4ff;
}

.testimonial__item--white {
  background-color: #ffffff;
}
.testimonial__item--white .user__name {
  font-size: 0.8125rem;
  line-height: 1.1;
  letter-spacing: 0px;
  color: #48556a;
}
.testimonial__item--white .user__status {
  font-size: 0.6875rem;
  line-height: 1.1;
  letter-spacing: 0px;
  color: #676d7e;
}
.testimonial__item--white .comment__hightlight {
  font-size: 1.25rem;
  line-height: 1.2;
  letter-spacing: 0px;
  font-weight: 500;
  color: #48556a;
}
.testimonial__item--white .comment__detail {
  font-size: 0.8125rem;
  line-height: 1.4;
  letter-spacing: 0px;
  color: #676d7e;
}

.testimonial__item--black {
  background-color: #19202d;
}
.testimonial__item--black .user__name {
  font-size: 0.8125rem;
  line-height: 1.1;
  letter-spacing: 0px;
  color: #ffffff;
}
.testimonial__item--black .user__status {
  font-size: 0.6875rem;
  line-height: 1.1;
  letter-spacing: 0px;
  color: #ffffff;
}
.testimonial__item--black .comment__hightlight {
  font-size: 1.25rem;
  line-height: 1.2;
  letter-spacing: 0px;
  font-weight: 500;
  color: #cfcfcf;
}
.testimonial__item--black .comment__detail {
  font-size: 0.8125rem;
  line-height: 1.4;
  letter-spacing: 0px;
  color: #e7eaee;
}

.user {
  display: flex;
  gap: 1rem;
  align-items: center;
}
.user .user__avatar {
  max-width: 2rem;
}
.user .user__avatar img {
  border-radius: 50%;
  width: 100%;
  height: auto;
  object-fit: cover;
}

.comment__hightlight,
.comment__detail {
  margin-block-start: 1rem;
}

@media (min-width: 768px) {
  .testimonial__container {
    grid-template-areas: "daniel daniel" "jonathan jeanette" "pattrick pattrick" "kira kira";
  }
  .testimonial__container .testimonial__item--purple {
    grid-area: daniel;
  }
  .testimonial__container .testimonial__item--grey {
    grid-area: jonathan;
  }
  .testimonial__container .testimonial__item--black {
    grid-area: pattrick;
  }
  .testimonial__container .testimonial__item--white {
    grid-area: jeanette;
  }
  .testimonial__container .testimonial__item--white-last {
    grid-area: kira;
  }
}
@media (min-width: 1024px) {
  .testimonial__container {
    grid-template-columns: repeat(4, 1fr);
    grid-template-areas: "daniel daniel jonathan kira" "jeanette pattrick pattrick kira";
  }
  .testimonial__container .testimonial__item--purple {
    grid-area: daniel;
    background-image: url(images/bg-pattern-quotation.svg);
    background-repeat: no-repeat;
    background-position: right 2.5rem top 0;
  }
  .testimonial__container .testimonial__item--grey {
    grid-area: jonathan;
  }
  .testimonial__container .testimonial__item--black {
    grid-area: pattrick;
  }
  .testimonial__container .testimonial__item--white {
    grid-area: jeanette;
  }
  .testimonial__container .testimonial__item--white-last {
    grid-area: kira;
  }
}

/*# sourceMappingURL=styles.css.map */
